# Ignora i modelli pesanti
modelli/

# Ignora i dataset e gli indici vettoriali
dati/immagini/
dati/knn.json
dati/encyclopedic_index.json
dati/encyclopedic_kb_wiki.json

# Ignora i file generati da noi e i log
risultati/
*.log

# Ignora gli ambienti virtuali e la cache di Python
venv/
.env
__pycache__/
*.pycmodelli/
.venvMo/
__pycache__/
*.index
*.out
