# Ignora i modelli pesanti
modelli/
modelli_corrotti/
images/
immagini/
sh_inutili/
py_not_used/
tfhub_modules/
tmp_wiki_images/



# Ignora i dataset e gli indici vettoriali
dati/immagini/
dati/knn.json
dati/encyclopedic_index.json
dati/encyclopedic_kb_wiki.json

# Ignora i file generati da noi e i log
risultati/
*.log

# Ignora gli ambienti virtuali e la cache di Python
venv/
.env/
.vscode/
.hf_home/
__pycache__/
*.pycmodelli/
.venvMo/
__pycache__/
*.index
*.out
*.json
*.log
*.jsonlrm -f .git/index.lock
*.swp
*.swo
# Large local data
dati/encyclopedic_kb_wiki.zip
dati/kb_images/
