--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0

accelerate
transformers>=4.45.0
huggingface_hub[cli]

faiss-cpu
pillow
numpy<2.0.0
tqdm
qwen-vl-utils[decord]==0.0.8

langchain
langchain-core
langchain-community
timm>=0.9.0
