torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

accelerate
transformers @ git+https://github.com/huggingface/transformers
huggingface_hub[cli]

faiss-gpu
pillow
numpy
tqdm
qwen-vl-utils[decord]==0.0.8

langchain
langchain-core
langchain-community