--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

accelerate
transformers>=5.0.0
huggingface_hub[cli]

faiss-cpu  # 📍 ORA POSSIAMO USARE LA GPU
pillow
numpy<2.0.0
tqdm
qwen-vl-utils[decord]==0.0.8

langchain
langchain-core
langchain-community
timm>=0.9.0
